nav {
  font-family: $font-lato;
  font-size: 1.2rem;
  height: 100%;
  width: 23vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .settings-icon {
    font-size: 1.3rem;
  }

  @include tablet {
    width: 120px;

    a {
      font-size: 1.8rem;
    }

    .settings-icon {
      font-size: 2.1rem;
    }
  }
}
