$primary-dribbble: rgb(219, 90, 138);
$secondary-dribbble: rgb(234, 96, 146);
$symbol-dribbble: rgb(165, 67, 102);
$description-dribbble: rgb(207, 83, 129);
$light-stock-dribbble: rgb(204, 82, 127);
$dark-stock-dribbble: rgb(192, 78, 118);
$font-lato: 'Lato', sans-serif;
