main {
  height: calc(100vh - 3.5rem);
  overflow-y: auto;
  position: relative;

  @include tablet {
    height: calc(100vh - 5rem);
  }
}

.stock {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $secondary-dribbble;
  gap: 1rem;
  color: #fff;

  h1 {
    color: $symbol-dribbble;
    font-size: 5rem;
  }

  h2,
  p {
    width: 90%;
    font-family: $font-lato;
    text-align: end;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  @include tablet {
    h1 {
      font-size: 9rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 2.2rem;
    }
  }

  @include desktop {
    justify-content: flex-start;
    gap: 0;

    h2,
    p {
      width: 80%;
    }
  }
}

ul.details {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  li {
    width: 100%;
    height: auto;
    padding: 1rem 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $dark-stock-dribbble;
    
    &:nth-child(2n) {
      background-color: $light-stock-dribbble;
    }

    p {
      width: auto;
      text-transform: capitalize;
    }
  }

  @include desktop {
    height: calc(70vh - 8rem);

    li {
      padding: 1rem 10%;
    }
  }
}
