main {
  height: calc(100vh - 3.5rem);
  overflow-y: auto;
  position: relative;

  @include tablet {
    height: calc(100vh - 5rem);
  }
}

.search {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-dribbble;

  @include tablet {
    height: 27vh;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(70vh - 5rem);
  background-color: $secondary-dribbble;

  li {
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
    overflow: hidden;

    &.light {
      background-color: $light-stock-dribbble;
    }

    &.dark {
      background-color: $dark-stock-dribbble;
    }

    h1 {
      color: $symbol-dribbble;
      font-size: 3rem;
    }

    h2,
    p {
      width: 90%;
      font-family: $font-lato;
      text-align: end;
    }

    h2 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  @include tablet {
    min-height: calc(70vh - 6rem);

    li {
      height: 40vw;

      h1 {
        font-size: 7rem;
      }

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.8rem;
      }
    }
  }
}

.description {
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $description-dribbble;
  position: -webkit-sticky;
  position: sticky;
  top: -3px;

  p {
    width: 80%;
    color: #fff;
  }

  @include tablet {
    height: 3rem;

    p {
      font-size: 1.5rem;
    }
  }
}
